body{
  background-color: #d0efff;
  padding: 0;
}

.header {
  position: relative;
  background-color: #1064a4;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;   
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}

.header h2 {
  color: #d0efff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: normal;
  margin-left: 150px;
  font-weight: 400;
}

.logo {
  width: 297px;
  height: 95px;
  flex-shrink: 0;
}

.logo-toko {
  width: 300px;
  right: 80px;
}

.container{
  position: relative;
  width: 700px;
  height: 500px;
  margin-top: 30px;
  margin-left: 310px;
  background-color: #03254C;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 650px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.box-2 {
  width: 600px;
  height: 400px;
  background-color: #1064A4;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 420px;
  color:#d9d9d9 ;
}

.wrapper h1 {
  font-size: 27px;
  text-align: center;
}

.wrapper .input-box {
 width: 100%;
 height: 50px;
margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #2a93d5;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  color: #d0efff;
}

.input-box input::placeholder {
  color: #d0efff;
}

.wrapper .btn {
  width: 150px;
  height: 45px;
  margin-left: 140px;
  background:#03254C;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  color: #d0efff;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
